<form action="/confirm" method="post">
    We have sent you a code, please check your email and submit this code to complete the cerification:
    <br>
    <input type="text" name="confirmation"><br>
    <input type="submit" value='Confirm'>
</form>