<!doctype html>
<html>
<head>
    <title>Rixx Music</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <a href="/account" class="btn btn-info btn-sm">My Account</a>
        <a href="/all_posts" class="btn btn-info btn-sm">News Feed</a>
        <a href="/settings" class="btn btn-info btn-sm">My Settings</a>
        <a href="/following" class="btn btn-info btn-sm">Following</a>
        <a href="/followers" class="btn btn-info btn-sm">Followers</a>
        <a href="/users" class="btn btn-info btn-sm">Users</a>
        <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
    </div>

    <div class="row">
        <ul>
        
            <% for(var i=0; i<following.length; i++) { %>
                <li> <%= following[i].name %>
                    <!-- <a href='unfollow?id=<%= following[i].id %>&name=<%= following[i].name %>' class="btn btn-danger btn-sm">Unfollow </a> -->
                </li>
            <% } %>
        </ul>
        
    </div>

    

</div>
</body>
</html>
